<link href="css/plugins/dropzone/basic.css" rel="stylesheet">
<link href="css/plugins/dropzone/dropzone.css" rel="stylesheet">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>File upload</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Forms</a>
            </li>
            <li class="active">
                <strong>File upload</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Dropzone Area</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form action="/api/upload" method="post" enctype="multipart/form-data">
                        <input type="file" name="file" />
                        <input type="submit" />
                    </form>


                                       <!-- <form id="my-awesome-dropzone" class="dropzone" method="post" enctype="multipart/form-data" action="http://127.0.0.1:8216/api/upload/test">

                                            <input type="file" name="file" />

                                            <input type="submit" />

                                            &lt;!&ndash;<div class="dropzone-previews"></div>&ndash;&gt;

                                            <button type="submit" class="btn btn-primary pull-right">Submit this form!</button>

                                        </form>-->


                    <!--   <form method="post" enctype="multipart/form-data" action="/file-upload">
                           <input type="text" name="username">
                           <input type="password" name="password">
                           <input type="file" name="thumbnail">
                           <input type="submit">

                       </form>-->



                    <!--<div>
                        <div class="m text-right"><small>DropzoneJS is an open source library that provides drag'n'drop file uploads with image previews: <a href="https://github.com/enyo/dropzone" target="_blank">https://github.com/enyo/dropzone</a></small> </div>
                    </div>-->

                </div>
            </div>
        </div>
    </div>

</div>


<!-- DROPZONE -->
<script src="js/plugins/dropzone/dropzone.js"></script>

<!--<script>
    $(document).ready(function(){

        Dropzone.options.myAwesomeDropzone = {

            autoProcessQueue: false,
            uploadMultiple: false,
            parallelUploads: 100,
            maxFiles: 100,

            // Dropzone settings
            init: function() {
                var myDropzone = this;

                this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                    myDropzone.processQueue();
                });
                this.on("sendingmultiple", function() {
                });
                this.on("successmultiple", function(files, response) {
                });
                this.on("errormultiple", function(files, response) {
                });
            }

        }

    });
</script>-->
