
<!--
regular body

<hr/>
<!DOCTYPE html>
-->




{{!> partial}}


<!--
<div id="wrapper">
    {{!> navbar}}

    <div id="page-wrapper" class="gray-bg dashbard-1">

        {{!> header}}

        {{!> dashboardarea}}
        {{!> footer}}

    </div>



    {{!> rightsideMenu}}

    {{!> chat}}


{{!> partial1}}
{{!> partial2}}
{{!> partial3}}
{{!> partial4}}
{{!> partial5}}


</div>-->

<div>


    {{!> graph-flot}}
    {{!> graph_chartist}}

    {{#if page}}

        {{#ifCond page 'flot'}}
        {{> graph-flot}}
        {{/ifCond}}


        {{#ifCond page 'chartist'}}
            {{> graph-chartist}}
        {{/ifCond}}

        {{#ifCond page 'morris'}}
            {{> graph-morris}}
        {{/ifCond}}

        {{#ifCond page 'chartjs'}}
            {{> graph_chartjs}}
        {{/ifCond}}

        {{#ifCond page 'peity'}}
            {{> graph_peity}}
        {{/ifCond}}

        {{#ifCond page 'rickshaw'}}
            {{> graph_rickshaw}}
        {{/ifCond}}

        {{#ifCond page 'sparkline'}}
            {{> graph_sparkline}}
        {{/ifCond}}

        {{#ifCond page 'upload'}}
            {{> upload}}
        {{/ifCond}}

    {{else}}
    {{> dashboardarea}}
        {{> graph-flot}}
    {{/if}}
</div>