<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>

            <h5 class="logo-name">AM+</h5>

        </div>
        <h3>Welcome to AM+</h3>
        <p>Perfectly designed and precisely prepared dashboards.</p>
        <p>Login, to see it in action.</p>
        <!--<form class="m-t" role="form" action="index">-->
        <!--<form class="m-t" role="form" action="/login" method="post" enctype="application/x-www-form-urlencoded">-->
        <form action="/login" method="post" >
            <div class="form-group">
                <input type="email" name="username" value="anand@gmail.com" class="form-control" placeholder="Username" required="">
            </div>
            <div class="form-group">
                <input type="password" name="password" value="anand@gmail.com" class="form-control" placeholder="Password" required="">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

            <br/><br/><br/><br/><br/><br/><br/><br/>
            <a href="#"><small>Forgot password?</small></a>
            <p class="text-muted text-center"><small>Do not have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" href="register.html">Create an account</a>
        </form>
        <p class="m-t"> <small>AM+ &copy; Achivaa Metrics 2016</small> </p>
    </div>
</div>


<!-- Mainly scripts -->
<script src="/javascripts/bootstrap.min.js"></script>

