
      <nav class="navbar-default navbar-static-side" role="navigation">
          <div class="sidebar-collapse">
              <ul class="nav metismenu" id="side-menu">
                  <li class="nav-header">
                      <div class="dropdown profile-element">
                            <span>
                               <img alt="image" class="img-circle" src="images/profile_small.jpg" />
                             </span>
                          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Anand Kumar</strong>
                             </span> <span class="text-muted text-xs block">Big Data Architect <b class="caret"></b></span> </span> </a>

                          <!--<ul class="dropdown-menu animated fadeInRight m-t-xs">
                              <li><a href="profile.html">Profile</a></li>
                              <li><a href="contacts.html">Contacts</a></li>
                              <li><a href="mailbox.html">Mailbox</a></li>
                              <li class="divider"></li>
                              <li><a href="/login">Logout</a></li>
                          </ul>-->


                            {{#if profileMenu}}
                              <ul class="dropdown-menu animated fadeInRight m-t-xs">
                          {{#each profileMenu}}
                                  <li><a href="{{profileMenuURL}}">{{profileMenuName}}</a></li>
                          {{/each}}
                                  {{#if profileMenuBottom}}
                                      <li class="divider"></li>
                                        {{#each profileMenuBottom}}
                                              <li><a href="{{profileMenuBottomURL}}">{{profileMenuBottomName}}</a></li>
                                        {{/each}}

                                  {{/if}}

                              </ul>
                            {{/if}}





                      </div>
                      <div class="logo-element">
                          AM+
                      </div>
                  </li>

                    {{#each navBarMenu}}
                        <li class="{{menuStatus}}">
                      <a href="{{URL}}"><i class="fa {{icon}}"></i> <span class="{{menuNameclass}}">{{menuName}}</span>

                        {{#if menuLabel}}
                          <span class="label {{#if menuLabelClass}}{{menuLabelClass}}{{/if}} pull-right">{{menuLabel}}</span>
                        {{/if}}

                        {{#if subMenu}}
                                <span class="fa arrow"></span>
                        {{/if}}

                      </a>

                      <!--<ul class="nav nav-second-level">

                          <li class="active">
                          <a href="index.html">Dashboard v.1</a>
                          </li>
                          <li><a href="dashboard_2.html">Dashboard v.2</a></li>
                          <li><a href="dashboard_3.html">Dashboard v.3</a></li>
                          <li><a href="dashboard_4_1.html">Dashboard v.4</a></li>
                          <li><a href="dashboard_5.html">Dashboard v.5
                          <span class="label label-primary pull-right">NEW</span></a>
                          </li>

                      </ul>-->

                        {{#if subMenu}}
                      <ul class="nav nav-second-level collapse">
                          {{#each subMenu}}
                              <li class="{{subMenuClass}}" > <a href="{{subMenuURL}}"> {{subMenuName}}
                                  {{!this}}
                              {{#if subMenu}}
                                  <span class="fa arrow"></span>
                              {{/if}}
                              </a>

                              {{#if subMenu}}
                                  <ul class="nav nav-third-level">
                                      {{#each subMenu}}
                                          <li > <a href="{{subMenuURL}}"> {{subMenuName}} {{!this}}</a></li>
                                      {{/each}}
                                  </ul>
                              {{/if}}
                                  </li>


                          {{/each}}
                      </ul>
                        {{/if}}


                  </li>
                    {{/each}}

              </ul>

          </div>
      </nav>
