<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <script src="/javascripts/jquery.js" type="text/javascript"></script>

    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel='stylesheet' href='/font-awesome/css/font-awesome.css' />

    <link rel='stylesheet' href='/stylesheets/plugins/toastr/toastr.min.css' />

    <!-- Gritter -->
    <link href="/javascripts/plugins/gritter/jquery.gritter.css" rel="stylesheet">

    <link href="/stylesheets/animate.css" rel="stylesheet">
    <link href="/stylesheets/dashboardStyle.css" rel="stylesheet">

</head>
<body>
<!--body:-->

{{{body}}}

<script src="/javascripts/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/javascripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Flot -->
<script src="/javascripts/plugins/flot/jquery.flot.js"></script>
<script src="/javascripts/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/javascripts/plugins/flot/jquery.flot.spline.js"></script>
<script src="/javascripts/plugins/flot/jquery.flot.resize.js"></script>
<script src="/javascripts/plugins/flot/jquery.flot.pie.js"></script>

<!-- Peity -->
<script src="/javascripts/plugins/peity/jquery.peity.min.js"></script>
<!--<script src="/javascripts/demo/peity-demo.js"></script>-->

<!-- Custom and plugin javascript -->
<script src="/javascripts/custom/inspinia.js"></script>
<script src="/javascripts/plugins/pace/pace.min.js"></script>

<!-- jQuery UI -->
<script src="/javascripts/plugins/jquery-ui/jquery-ui.min.js"></script>

<!-- GITTER -->
<script src="/javascripts/plugins/gritter/jquery.gritter.min.js"></script>

<!-- Sparkline -->
<script src="/javascripts/plugins/sparkline/jquery.sparkline.min.js"></script>

<!-- Sparkline demo data  -->
<script src="/javascripts/demo/sparkline-demo.js"></script>

<!-- ChartJS-->
<script src="/javascripts/plugins/chartJs/Chart.min.js"></script>

<!-- Toastr -->
<script src="/javascripts/plugins/toastr/toastr.min.js"></script>

</body>

</html>
